In [61]:
import pandas as pd
import numpy as np

In [132]:
file_path = "../static/data/ind_merged.csv"
global_df = pd.read_csv(file_path)

In [134]:
global_df.head()

,Unnamed: 0,name,indicator,indicator2,year,value,region
0,0,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1960,108800000.0,Asia
1,1,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1961,223030000.0,Asia
2,2,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1962,110970000.0,Asia
3,3,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1963,225130000.0,Asia
4,4,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1964,290570000.0,Asia

## Description des indicateurs

In [138]:
list_indicators = global_df["indicator"].unique()

for indicator in list_indicators:
    min_value = global_df.loc[global_df["indicator"] == indicator, ["value"]].min().values[0]
    max_value = global_df.loc[global_df["indicator"] == indicator, ["value"]].max().values[0]
    mean_value = global_df.loc[global_df["indicator"] == indicator, ["value"]].mean().values[0]

    print("Range indicateur {} : [{}, {}], moyenne : {}".format(indicator, min_value, max_value, mean_value))

Range indicateur Aid received : [-1143420000.0, 24858710000.0], moyenne : 425425935.21594685
Range indicateur Exports (p of GDP) : [0.182968803942039, 241.402014528153], moyenne : 35.24335380595857
Range indicateur External debt : [0.0, 1210.05989933245], moyenne : 64.14307995287493
Range indicateur indicator gdp_total_ppp : [1051405.91398389, 15664618589539.4], moyenne : 53993274825.6626
Range indicateur indicator_aid received % of gni : [-0.745017151425095, 242.286413767446], moyenne : 7.607946023029663
Range indicateur Indicator_number of billionaires : [0.0, 57.0], moyenne : 1.5766331658291457
Range indicateur Indicator_Poverty headcount ratio at $2 a day (PPP) (% of population) : [0.0, 98.45], moyenne : 30.439235127478753
Range indicateur Inflation : [-49.4222790062954, 15442.3007178263], moyenne : 31.894629978202303
Range indicateur Investment : [-17.3755100679111, 113.577855400879], moyenne : 22.538031706539034
Range indicateur Tax revenue (p of GDP) : [0.085814810222566, 61.0181185575545], moyenne : 16.815039539950753
Range indicateur Completition rate female : [0.71136, 138.7733], moyenne : 73.85563349809885
Range indicateur Completition rate male : [2.28162, 145.80536999999998], moyenne : 77.73111693052195
Range indicateur Completition rate total : [1.5045600000000001, 140.16883], moyenne : 76.01851536695862
Range indicateur expenditure primary : [1.0659399999999999, 61.63768], moyenne : 16.01901403617111
Range indicateur expenditure secondary : [2.6760200000000003, 279.69096], moyenne : 22.734637912444555
Range indicateur expenditure tertiery : [0.0, 2503.91343], moyenne : 86.89087629490459
Range indicateur indicator SE_ENR_PRSC_FM_ZS.xls : [0.0, 146.825], moyenne : 91.18916470161311
Range indicateur Years in school men 25 plus : [0.2, 14.2], moyenne : 6.059950331125828
Range indicateur Years in school women 25 plus : [0.0, 14.2], moyenne : 5.007235099337748
Range indicateur indicator_f 15-64 labour to pop percent : [8.89999961853027, 92.1999969482422], moyenne : 53.99191377190781
Range indicateur indicator_f 25-54 labour to pop percent : [9.69999980926514, 96.4000015258789], moyenne : 62.0530997263025
Range indicateur indicator_f above 15 labour to pop percent : [8.5, 91.0999984741211], moyenne : 49.65765949850776
Range indicateur indicator_f above 65 labour to pop percent : [0.10000000149011999, 84.5], moyenne : 17.59768643764225
Range indicateur indicator_m 15-64 labour to pop percent : [52.4000015258789, 95.0], moyenne : 81.54447440638376
Range indicateur indicator_m 25-54 labour to pop percent : [67.40000152587889, 99.0999984741211], moyenne : 93.8926099981152
Range indicateur indicator_m above 15 labour to pop percent : [50.9000015258789, 94.5], moyenne : 77.65274031914149
Range indicateur indicator_m above 65 labour to pop percent : [0.89999997615814, 95.0], moyenne : 38.754919111675115
Range indicateur indicator_oda % gni : [0.0, 1.36], moyenne : 0.40961981566820277
Range indicateur indicator_other social services aid (% of total aid) : [0.080775444264944, 96.3384420373358], moyenne : 7.238526715298614

In [149]:
indicator_to_rescale = ['Aid received',
'Exports (p of GDP)',
'External debt',
'indicator gdp_total_ppp',
'indicator_aid received % of gni',
'Indicator_number of billionaires',
'Inflation',
'Investment',
'Tax revenue (p of GDP)',
'Completition rate female',
'Completition rate male',
'Completition rate total',
'expenditure primary',
'expenditure secondary',
'expenditure tertiery',
'indicator SE_ENR_PRSC_FM_ZS.xls',
'Years in school men 25 plus',
'Years in school women 25 plus',
'indicator_oda % gni']

"Aid received" => si NaN c'est qu'il n'y a probablement pas d'aide, donc ne pas compléter
    
"Exports (p of GDP)" => Pourcentage de 0.18 a 241, à mettre à l'échelle

"External debt" => de 0 à 1210, à mettre à l'échelle

"indicator gdp_total_ppp" => de 10e6 à 10e13, à mettre à l'échelle

...

## Prédiction des valeurs manquantes

In [121]:
global_df["predicted"] = False
global_df.loc[global_df["value"].isnull(), ["predicted"]] = True

In [122]:
global_df["predicted"].value_counts()

False    141285
True      63235
Name: predicted, dtype: int64

In [123]:
list_indicators = global_df["indicator"].unique()
list_countries = global_df["name"].unique()

In [152]:
for indicator in list_indicators:
    if(indicator == "Aid received"):
        continue
#for indicator in ["Completition rate female"]:
    #list_countries = global_df.loc[global_df["indicator"] == indicator,["name"]].unique()
    countries_with_no_data = []

    for country in list_countries:
    #for country in ["Iraq"]:
        min_year = global_df.loc[global_df["indicator"] == indicator, ["year"]].min().values[0]
        max_year =  global_df.loc[global_df["indicator"] == indicator, ["year"]].max().values[0]
        
        year_df_not_null = global_df.loc[~(global_df["value"].isnull()) 
                  & (global_df["indicator"] == indicator)
                  & (global_df["name"] == country), ["year"]].sort_values(by="year")
        
        list_year_not_null = [item for sublist in year_df_not_null.values for item in sublist]

        if(len(list_year_not_null) == 0):
            countries_with_no_data.append(country)
            continue
        
        # Mise à jour des premières valeurs si vides avec la première non vide
        #print(min_year)
        #print(max_year)
        #print(list_year_not_null)
        if(list_year_not_null[0] > min_year):
            #print("maj first values")
            value_first_indicator = float(global_df.loc[(global_df["indicator"] == indicator) 
                                      & (global_df["name"] == country) 
                                      & (global_df["year"] == list_year_not_null[0]), ["value"]].value)
            #print(value_first_indicator)
            for year in np.arange(min_year, list_year_not_null[0]):
                global_df.loc[(global_df["indicator"] == indicator) 
                                      & (global_df["name"] == country) 
                                      & (global_df["year"] == year), ["value"]] = value_first_indicator
            
   
        # Mise à jour des dernières valeurs si vides avec la dernière non vide
        if(list_year_not_null[-1] < max_year):
            #print("maj last values")
            value_last_indicator = float(global_df.loc[(global_df["indicator"] == indicator) 
                                      & (global_df["name"] == country) 
                                      & (global_df["year"] == list_year_not_null[-1]), ["value"]].value)
            #print(value_last_indicator)
            for year in np.arange(list_year_not_null[-1], max_year + 1):
                global_df.loc[(global_df["indicator"] == indicator) 
                                      & (global_df["name"] == country) 
                                      & (global_df["year"] == year), ["value"]] = value_last_indicator
    
    
        # Mise à jour des valeurs intermédiaires
        previous_year = list_year_not_null[0]
        nb_year_null = 0
        for current_year in list_year_not_null:
            if(current_year - previous_year > 1):
                nb_year_null = current_year - previous_year - 1
                value_previous_year = float(global_df.loc[(global_df["indicator"] == indicator) 
                                                     & (global_df["name"] == country) 
                                                     & (global_df["year"] == previous_year), ["value"]].value)
                value_current_year = float(global_df.loc[(global_df["indicator"] == indicator) 
                                                     & (global_df["name"] == country) 
                                                     & (global_df["year"] == current_year), ["value"]].value)
                step_value = (value_current_year - value_previous_year) / (nb_year_null + 1)

                for i, year in enumerate(np.arange(previous_year + 1, current_year)):
                    global_df.loc[(global_df["indicator"] == indicator) 
                                  & (global_df["name"] == country) 
                                  & (global_df["year"] == year), ["value"]] = value_previous_year + (i + 1) * step_value
            
            previous_year = current_year
            
    print(indicator)
    #if (len(countries_with_no_data) > 0):
    #   print("Pas de valeur pour l'indicteur : {}, pour les pays : {}".format(indicator, countries_with_no_data))

Exports (p of GDP)
External debt
indicator gdp_total_ppp
indicator_aid received % of gni
Indicator_number of billionaires
Indicator_Poverty headcount ratio at $2 a day (PPP) (% of population)
Inflation
Investment
Tax revenue (p of GDP)
Completition rate female
Completition rate male
Completition rate total
expenditure primary
expenditure secondary
expenditure tertiery
indicator SE_ENR_PRSC_FM_ZS.xls
Years in school men 25 plus
Years in school women 25 plus
indicator_f 15-64 labour to pop percent
indicator_f 25-54 labour to pop percent
indicator_f above 15 labour to pop percent
indicator_f above 65 labour to pop percent
indicator_m 15-64 labour to pop percent
indicator_m 25-54 labour to pop percent
indicator_m above 15 labour to pop percent
indicator_m above 65 labour to pop percent
indicator_oda % gni
indicator_other social services aid (% of total aid)

In [127]:
global_df_no_nan = global_df.copy()

In [128]:
global_df_no_nan.head()

,Unnamed: 0,name,indicator,indicator2,year,value,region,predicted
0,0,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1960,108800000.0,Asia,False
1,1,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1961,223030000.0,Asia,False
2,2,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1962,110970000.0,Asia,False
3,3,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1963,225130000.0,Asia,False
4,4,Afghanistan,Aid received,"ODA received, total (constant 2010 US$)",1964,290570000.0,Asia,False

## Mise à l'échelle - min/max sur l'ensemble des années

In [ ]:
for indicator in list_indicators:
        min_year = global_df.loc[global_df["indicator"] == indicator, ["value"]].min().values[0]
        max_year =  global_df.loc[global_df["indicator"] == indicator, ["value"]].max().values[0]

## Analyse des dates pour savoir lesquelles conserver

In [39]:
for indicator in list_indicators:
    min_year = global_df.loc[global_df["indicator"] == indicator, ["year"]].min().values[0]
    max_year =  global_df.loc[global_df["indicator"] == indicator, ["year"]].max().values[0]
    print("Traitement de l'indicateur : {}, de l'année {} à {}".format(indicator, min_year, max_year))
    #global_df.loc[~(global_df["value"].isnull()) & (global_df["indicator"] == indicator), ["year"]].sort_values()

Traitement de l'indicateur : Aid received, de l'année 1960 à 2010
Traitement de l'indicateur : Exports (p of GDP), de l'année 1961 à 2011
Traitement de l'indicateur : External debt, de l'année 1960 à 2011
Traitement de l'indicateur : indicator gdp_total_ppp, de l'année 1800 à 2013
Traitement de l'indicateur : indicator_aid received % of gni, de l'année 1960 à 2010
Traitement de l'indicateur : Indicator_number of billionaires, de l'année 2004 à 2007
Traitement de l'indicateur : Indicator_Poverty headcount ratio at $2 a day (PPP) (% of population), de l'année 1978 à 2010
Traitement de l'indicateur : Inflation, de l'année 1961 à 2011
Traitement de l'indicateur : Investment, de l'année 1960 à 2011
Traitement de l'indicateur : Tax revenue (p of GDP), de l'année 1990 à 2011
Traitement de l'indicateur : Completition rate female, de l'année 1970 à 2011
Traitement de l'indicateur : Completition rate male, de l'année 1970 à 2011
Traitement de l'indicateur : Completition rate total, de l'année 1970 à 2011
Traitement de l'indicateur : expenditure primary, de l'année 1998 à 2011
Traitement de l'indicateur : expenditure secondary, de l'année 1998 à 2011
Traitement de l'indicateur : expenditure tertiery, de l'année 1998 à 2011
Traitement de l'indicateur : indicator SE_ENR_PRSC_FM_ZS.xls, de l'année 1970 à 2011
Traitement de l'indicateur : Years in school men 25 plus, de l'année 1970 à 2009
Traitement de l'indicateur : Years in school women 25 plus, de l'année 1970 à 2009
Traitement de l'indicateur : indicator_f 15-64 labour to pop percent, de l'année 1980 à 2007
Traitement de l'indicateur : indicator_f 25-54 labour to pop percent, de l'année 1980 à 2007
Traitement de l'indicateur : indicator_f above 15 labour to pop percent, de l'année 1980 à 2007
Traitement de l'indicateur : indicator_f above 65 labour to pop percent, de l'année 1980 à 2007
Traitement de l'indicateur : indicator_m 15-64 labour to pop percent, de l'année 1980 à 2007
Traitement de l'indicateur : indicator_m 25-54 labour to pop percent, de l'année 1980 à 2007
Traitement de l'indicateur : indicator_m above 15 labour to pop percent, de l'année 1980 à 2007
Traitement de l'indicateur : indicator_m above 65 labour to pop percent, de l'année 1980 à 2007
Traitement de l'indicateur : indicator_oda % gni, de l'année 1960 à 2008
Traitement de l'indicateur : indicator_other social services aid (% of total aid), de l'année 1967 à 2008

In [88]:
global_df.loc[(global_df["indicator"] == "Completition rate female")
              & (global_df["name"] == "Iraq"), ["year", "value"]].sort_values(by="year")

       year     value
86661  1970       NaN
86662  1971  20.56606
86663  1972  20.85348
86664  1973  22.79115
86665  1974  23.31958
86666  1975  27.31529
86667  1976  28.56560
86668  1977  37.18561
86669  1978  41.62401
86670  1979       NaN
86671  1980  53.15110
86672  1981       NaN
86673  1982       NaN
86674  1983  48.47658
86675  1984       NaN
86676  1985  58.33163
86677  1986  56.85311
86678  1987  53.14240
86679  1988  57.77889
86680  1989  53.36140
86681  1990       NaN
86682  1991       NaN
86683  1992       NaN
86684  1993  54.00860
86685  1994       NaN
86686  1995       NaN
86687  1996       NaN
86688  1997       NaN
86689  1998       NaN
86690  1999  50.87453
86691  2000  50.08348
86692  2001  54.36886
86693  2002       NaN
86694  2003  68.21609
86695  2004  67.17209
86696  2005       NaN
86697  2006       NaN
86698  2007  55.39513
86699  2008       NaN
86700  2009       NaN
86701  2010       NaN
86702  2011       NaN

In [117]:
global_df.loc[(global_df["indicator"] == "Completition rate female")
              & (global_df["name"] == "Iraq"), ["year", "value"]].sort_values(by="year")

       year      value
86661  1970  20.566060
86662  1971  20.566060
86663  1972  20.853480
86664  1973  22.791150
86665  1974  23.319580
86666  1975  27.315290
86667  1976  28.565600
86668  1977  37.185610
86669  1978  41.624010
86670  1979  47.387555
86671  1980  53.151100
86672  1981  51.592927
86673  1982  50.034753
86674  1983  48.476580
86675  1984  53.404105
86676  1985  58.331630
86677  1986  56.853110
86678  1987  53.142400
86679  1988  57.778890
86680  1989  53.361400
86681  1990  53.523200
86682  1991  53.685000
86683  1992  53.846800
86684  1993  54.008600
86685  1994  53.486255
86686  1995  52.963910
86687  1996  52.441565
86688  1997  51.919220
86689  1998  51.396875
86690  1999  50.874530
86691  2000  50.083480
86692  2001  54.368860
86693  2002  61.292475
86694  2003  68.216090
86695  2004  67.172090
86696  2005  63.246437
86697  2006  59.320783
86698  2007  55.395130
86699  2008  55.395130
86700  2009  55.395130
86701  2010  55.395130
86702  2011  55.395130

In [55]:
year_df = global_df.loc[~(global_df["value"].isnull()) 
              & (global_df["indicator"] == "Aid received")
              & (global_df["name"] == "Germany"), ["year"]].sort_values(by="year")
list_year = [item for sublist in year_df.values for item in sublist]

In [57]:
global_df[(global_df["indicator"] == "Aid received")
              & (global_df["name"] == "Germany")]

,Unnamed: 0,name,indicator,indicator2,year,value,region,predicted
66262,66262,Germany,Aid received,"ODA received, total (constant 2010 US$)",1960,NaN,Europe,True
66263,66263,Germany,Aid received,"ODA received, total (constant 2010 US$)",1961,NaN,Europe,True
66264,66264,Germany,Aid received,"ODA received, total (constant 2010 US$)",1962,NaN,Europe,True
66265,66265,Germany,Aid received,"ODA received, total (constant 2010 US$)",1963,NaN,Europe,True
66266,66266,Germany,Aid received,"ODA received, total (constant 2010 US$)",1964,NaN,Europe,True
66267,66267,Germany,Aid received,"ODA received, total (constant 2010 US$)",1965,NaN,Europe,True
66268,66268,Germany,Aid received,"ODA received, total (constant 2010 US$)",1966,NaN,Europe,True
66269,66269,Germany,Aid received,"ODA received, total (constant 2010 US$)",1967,NaN,Europe,True
66270,66270,Germany,Aid received,"ODA received, total (constant 2010 US$)",1968,NaN,Europe,True
66271,66271,Germany,Aid received,"ODA received, total (constant 2010 US$)",1969,NaN,Europe,True
66272,66272,Germany,Aid received,"ODA received, total (constant 2010 US$)",1970,NaN,Europe,True
66273,66273,Germany,Aid received,"ODA received, total (constant 2010 US$)",1971,NaN,Europe,True
66274,66274,Germany,Aid received,"ODA received, total (constant 2010 US$)",1972,NaN,Europe,True
66275,66275,Germany,Aid received,"ODA received, total (constant 2010 US$)",1973,NaN,Europe,True
66276,66276,Germany,Aid received,"ODA received, total (constant 2010 US$)",1974,NaN,Europe,True
66277,66277,Germany,Aid received,"ODA received, total (constant 2010 US$)",1975,NaN,Europe,True
66278,66278,Germany,Aid received,"ODA received, total (constant 2010 US$)",1976,NaN,Europe,True
66279,66279,Germany,Aid received,"ODA received, total (constant 2010 US$)",1977,NaN,Europe,True
66280,66280,Germany,Aid received,"ODA received, total (constant 2010 US$)",1978,NaN,Europe,True
66281,66281,Germany,Aid received,"ODA received, total (constant 2010 US$)",1979,NaN,Europe,True
66282,66282,Germany,Aid received,"ODA received, total (constant 2010 US$)",1980,NaN,Europe,True
66283,66283,Germany,Aid received,"ODA received, total (constant 2010 US$)",1981,NaN,Europe,True
66284,66284,Germany,Aid received,"ODA received, total (constant 2010 US$)",1982,NaN,Europe,True
66285,66285,Germany,Aid received,"ODA received, total (constant 2010 US$)",1983,NaN,Europe,True
66286,66286,Germany,Aid received,"ODA received, total (constant 2010 US$)",1984,NaN,Europe,True
66287,66287,Germany,Aid received,"ODA received, total (constant 2010 US$)",1985,NaN,Europe,True
66288,66288,Germany,Aid received,"ODA received, total (constant 2010 US$)",1986,NaN,Europe,True
66289,66289,Germany,Aid received,"ODA received, total (constant 2010 US$)",1987,NaN,Europe,True
66290,66290,Germany,Aid received,"ODA received, total (constant 2010 US$)",1988,NaN,Europe,True
66291,66291,Germany,Aid received,"ODA received, total (constant 2010 US$)",1989,NaN,Europe,True
66292,66292,Germany,Aid received,"ODA received, total (constant 2010 US$)",1990,NaN,Europe,True
66293,66293,Germany,Aid received,"ODA received, total (constant 2010 US$)",1991,NaN,Europe,True
66294,66294,Germany,Aid received,"ODA received, total (constant 2010 US$)",1992,NaN,Europe,True
66295,66295,Germany,Aid received,"ODA received, total (constant 2010 US$)",1993,NaN,Europe,True
66296,66296,Germany,Aid received,"ODA received, total (constant 2010 US$)",1994,NaN,Europe,True
66297,66297,Germany,Aid received,"ODA received, total (constant 2010 US$)",1995,NaN,Europe,True
66298,66298,Germany,Aid received,"ODA received, total (constant 2010 US$)",1996,NaN,Europe,True
66299,66299,Germany,Aid received,"ODA received, total (constant 2010 US$)",1997,NaN,Europe,True
66300,66300,Germany,Aid received,"ODA received, total (constant 2010 US$)",1998,NaN,Europe,True
66301,66301,Germany,Aid received,"ODA received, total (constant 2010 US$)",1999,NaN,Europe,True
66302,66302,Germany,Aid received,"ODA received, total (constant 2010 US$)",2000,NaN,Europe,True
66303,66303,Germany,Aid received,"ODA received, total (constant 2010 US$)",2001,NaN,Europe,True
66304,66304,Germany,Aid received,"ODA received, total (constant 2010 US$)",2002,NaN,Europe,True
66305,66305,Germany,Aid received,"ODA received, total (constant 2010 US$)",2003,NaN,Europe,True
66306,66306,Germany,Aid received,"ODA received, total (constant 2010 US$)",2004,NaN,Europe,True
66307,66307,Germany,Aid received,"ODA received, total (constant 2010 US$)",2005,NaN,Europe,True
66308,66308,Germany,Aid received,"ODA received, total (constant 2010 US$)",2006,NaN,Europe,True
66309,66309,Germany,Aid received,"ODA received, total (constant 2010 US$)",2007,NaN,Europe,True
66310,66310,Germany,Aid received,"ODA received, total (constant 2010 US$)",2008,NaN,Europe,True
66311,66311,Germany,Aid received,"ODA received, total (constant 2010 US$)",2009,NaN,Europe,True
66312,66312,Germany,Aid received,"ODA received, total (constant 2010 US$)",2010,NaN,Europe,True

In [41]:
global_df[(global_df["indicator"] == "expenditure primary")
              & (global_df["name"] == "France")]

,Unnamed: 0,name,indicator,indicator2,year,value,region,predicted
60727,60727,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",1998,NaN,Europe,True
60728,60728,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",1999,17.88172,Europe,False
60729,60729,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2000,17.95715,Europe,False
60730,60730,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2001,17.96406,Europe,False
60731,60731,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2002,18.23649,Europe,False
60732,60732,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2003,18.17383,Europe,False
60733,60733,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2004,18.42795,Europe,False
60734,60734,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2005,17.98432,Europe,False
60735,60735,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2006,17.64613,Europe,False
60736,60736,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2007,18.29524,Europe,False
60737,60737,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2008,18.01231,Europe,False
60738,60738,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2009,NaN,Europe,True
60739,60739,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2010,NaN,Europe,True
60740,60740,France,expenditure primary,"Expenditure per student, primary (% of GDP per...",2011,NaN,Europe,True